<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
	<display-name>XML Display Name</display-name>
	<description>Description</description>
	<servlet>
		<servlet-name>ServletName</servlet-name>
		<description>Servlet Description</description>
		<servlet-class>ServletClass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletName</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
